// entities/Questions/ui/QuestionCard/styles.module.scss
@use "../../../../app/styles/variables" as *;

.card {
  background: #fff;
  padding: 24px;
  transition: box-shadow $duration ease;
  cursor: pointer;
  border-bottom: 1px solid #e8e8e8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // gap: 12px;
}

.questionTitle {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 12px 0;
  color: #191919;
  display: flex;
  align-items: center;
  line-height: 1.2;
  flex-grow: 1;
  &::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $purple;
    display: flex;
    margin-right: 8px;
  }
}

.arrow {
  display: inline-block;
  margin-left: auto;
  transition: transform 0.2s ease;
  font-size: 14px;
  color: $purple;
  flex-shrink: 0;
  &.expanded {
    transform: rotate(180deg);
  }
}
.contentWrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.2s ease;
  opacity: 0;

  &.expanded {
    max-height: 1000px; /* Достаточно большое значение для контента */
    opacity: 1;
    margin-top: 16px;
  }
}
.content {
  font-size: 16px;
  line-height: 1.3;
  color: #474747;
  margin-bottom: 16px;

  p {
    margin: 0 0 12px 0;
  }

  code {
    background: rgba(#6a0bff, 0.08);
    padding: 2px 4px;
    border-radius: 4px;
    color: $purple;
    font-size: 0.875rem;
  }

  a {
    color: $purple;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.meta {
  display: flex;
  gap: 26px;
  font-size: 14px;
  line-height: 120%;
  color: $black;
  margin-bottom: 12px;

  span {
    padding: 6px 10px;
    border-radius: 8px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    font-weight: 600;
    text-align: center;
  }
  strong {
    color: white;
    font-weight: 700;
    margin-left: 4px;
    padding: 0 4px;
    border-radius: 4px;
    background-color: $purple;
  }
}

.moreLink {
  color: $purple;
  font-size: 14px;
  text-decoration: none;
  align-items: center;
  text-align: right;
  font-weight: 600;
  transition: opacity $duration ease;
  cursor: pointer;

  &::after {
    content: "→";
    margin-left: 6px;
    // transition: transform $duration ease;
  }
  &:hover {
    opacity: 0.6;
  }
}
