.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  border-radius: 24px;
  background-color: white;
  height: fit-content;
  box-shadow: 0px 4px 10px 0px rgba(106, 99, 118, 0.1);
}
