.page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.backButton {
  background: none;
  border: none;
  color: #6a0bff;
  margin-left: 7px;
  padding: 8px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.questionContainer {
  position: relative;
  .containerBack {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
}
.sectionHeader {
  padding: 24px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .title {
    font-size: 24px;
    margin-bottom: 8px;
    color: #303030;
    line-height: 1.3;
  }

  .description {
    font-size: 16px;
    color: #474747;
    margin-bottom: 24px;
  }
}

.sectionShort {
  padding: 24px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .title {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 16px;
    color: #303030;
  }

  .answerContent {
    font-size: 16px;
    line-height: 1.3;
    color: #303030;

    p {
      margin-bottom: 16px;
    }

    code {
      color: #6a0bff;
      background: #f5f5f5;
      padding: 2px 4px;
      border-radius: 4px;
      font-family: monospace;
      background: rgba(#6a0bff, 0.08);
    }
  }
}
.sectionLong {
  padding: 24px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .title {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 16px;
    color: #303030;
  }
  .answerContent {
    font-size: 16px;
    line-height: 1.6;
    color: #303030;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  p {
    margin-bottom: 16px;
  }

  code {
    color: #6a0bff;
    background: #f5f5f5;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: monospace;
    background: rgba(#6a0bff, 0.08);
  }
}
.answerContent.collapsed {
  max-height: 800px;
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}

.answerContent.expanded {
  max-height: none;
  mask-image: none;
  -webkit-mask-image: none;
}
.containerDown {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 16px;
  &:hover {
    opacity: 0.8;
  }
}

.buttonToggle {
  background: none;
  border: none;
  color: #6a0bff;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.arrowDown {
  margin-left: 8px;
  transition: transform 0.3s ease;
  flex-shrink: 0;

  &.expanded {
    transform: rotate(180deg);
  }
}

.asideInfo {
  margin-top: 27px;
  padding: 24px;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.levelItem {
  margin-bottom: 15px;
}

.meta {
  display: flex;
  gap: 26px;
  font-size: 14px;
  line-height: 120%;
  color: #303030;

  span {
    padding: 6px 10px;
    border-radius: 8px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    font-weight: 500;
    text-align: center;
  }
  strong {
    color: white;
    font-weight: 700;
    margin-left: 4px;
    padding: 0 4px;
    border-radius: 4px;
    background-color: #6a0bff;
  }
}
.skillsItem {
  margin-bottom: 15px;
}
.skillsList {
  display: flex;
  flex-wrap: wrap;
}

.skillTag {
  display: inline-flex;
  align-items: center;
  padding: 10px 12px;
  font-weight: 500;
  line-height: 1.2;
  cursor: pointer;
  color: #303030;
  border-radius: 12px;
  font-size: 14px;
  border: 1px solid #6a0bff;
  transition: background 0.2s ease;
}

.skillIcon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border-radius: 2px;
}

.keywordsSection {
  margin-top: 24px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 12px;
  color: #303030;
}

.keywordsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.keyword {
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 14px;
  color: #6a0bff;
  display: inline-block;

  &:hover {
    opacity: 0.5;
  }
}

.loading {
  text-align: center;
  padding: 40px;
  font-size: 18px;
}

.error {
  color: #d32f2f;
  text-align: center;
  padding: 40px;
  font-size: 18px;
}
